all {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
}

.aside {
    background-color: #f1f1f1;
    width: 15vw;
    min-width: 175px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.servers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid #ccc;
}

.servname {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    width: 70%;
    height: 100%;
}

.burger {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4vh;
}

.menu {
    position: absolute;
    top: 10vh;
    display: none;
    left: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
    width: 25vh;
    z-index: 1;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu.active {
    display: block;
    max-height: 30vh;
    overflow-y: auto;
}

.vms {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 3px;
}

.input {
    border: 0;
    height: 100%;
    width: 100%;
    padding: 0 10px;
}

.main {
    display: flex;
    flex-direction: row;
    width: 85vw;
    height: 100%;
}

.actions {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    overflow-y: auto;
}

.text {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #0056b3;
}

.right {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100%;
    background-color: cyan;
    overflow-y: auto;
}

.options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    background-color: yellow;
    padding: 10px;
}

.option-button {
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* espace entre les boutons */
}

.option-button:last-child {
    margin-right: 0; /* pas de marge après le dernier bouton */
}

.option-button img {
    width: 24px;
    height: 24px;
}

.vnc {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.term {
    width: 70%;
    height: 70%;
    background-color: #f1f1f1;
}

img {
    background-color: transparent;
}
