all {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
}

.aside {
    background-color: #f1f1f1;
    width: 15vw;
    min-width: 175px;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-shrink: 0; /* Empêche le rétrécissement */
}

.servers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid #ccc;
}

.servname {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    width: 70%;
    height: 100%;
}

.burger {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4vh;
}

.menu {
    position: absolute;
    top: 10vh;
    display: none;
    left: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
    width: 25vh;
    z-index: 1;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu.active {
    display: block;
    max-height: 30vh;
    overflow-y: auto;
}

.server {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    min-height: 40px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease-out;
}

.vms {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 3px;
}

.addServer {
    font-weight: bold;
    cursor: pointer;
}

.server:hover {
    background-color: grey;
    cursor: pointer;
}

.serverInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.serverStatus {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.status {
    width: 1vw;
    min-width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid black;
    background-color: yellow;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
    left: 3vw;
    z-index: 10;
}

.status:hover .tooltip {
    display: block;
}

.vms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 3px;
}

.input {
    border: 0;
    height: 100%;
    width: 100%;
    padding: 0 10px;
}

.addServerPopup {
    display: none;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0.3, 0.3, 0.3);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form input:active, form input {
    outline: none;
    border: none;
}

form fieldset {
    border-radius: 5px;
    border-color: grey;
}

.result {
    display: block;
    background-color: blue;
    border-radius: 10px;
    padding: 1vh;
    width: fit-content;
    margin-top: 2vh;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: row;
    width: calc(100% - 15vw); /* Ajuste la largeur pour tenir compte de la largeur de la barre latérale */
    height: 100%;
}

.actions {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    overflow-y: auto;
    flex-shrink: 0; /* Empêche le rétrécissement */
}

.text {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #0056b3;
}

.right {
    display: flex;
    flex-direction: column;
    width: calc(100% - 25vw); /* Ajuste la largeur pour tenir compte de la largeur de la section actions */
    height: 100%;
    background-color: cyan;
    overflow-y: auto;
}

.options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    background-color: yellow;
    padding: 10px;
}

.option-button {
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px; /* espace entre les boutons */
}

.option-button:last-child {
    margin-right: 0; /* pas de marge après le dernier bouton */
}

.option-button img {
    width: 24px;
    height: 24px;
}

.vnc {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.term {
    width: 70%;
    height: 70%;
    background-color: #f1f1f1;
}

img {
    background-color: transparent;
}
